# Predicting Ljubljana' s real estate prizes

In [144]:
import pandas as pd
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
print(tf.__version__)

2.3.0

In [153]:
!ls *csv

generated_file.csv

In [312]:
df = pd.read_csv('generated_file.csv', delimiter ='|' )
df.head()

,title,offer_type,desc,size,price
0,Ne spreglejte,trisobno,"74,5 m2, 3-sobno, zgrajeno l. 1964, adaptirano...","74,50 m2","890,00 €/mesec"
1,Ne spreglejte,enosobno,"35 m2, 1-sobno, zgrajeno l. 1910, adaptirano l...","35,00 m2","470,00 €/mesec"
2,Ne spreglejte,dvosobno,"60 m2, 2-sobno, zgrajeno l. 1935, adaptirano l...","60,00 m2","850,00 €/mesec"
3,Ne spreglejte,enoinpolsobno,"43,51 m2, 1,5-sobno, zgrajeno l. 2020, 20 m2 z...","43,51 m2","620,00 €/mesec"
4,BEŽIGRAJSKI DVOR,Soba,"15 m2, soba, adaptirana l. 2020, visoko pritli...","15,00 m2","180,00 €/mesec"

In [313]:
df.count()

title         1078
offer_type    1078
desc          1078
size          1078
price         1078
dtype: int64

In [314]:
df.shape

(1078, 5)

In [315]:
index_names = df[df['title'] == 'Ne spreglejte' ].index 
df.drop(index_names, inplace = True) 
df.head()

,title,offer_type,desc,size,price
4,BEŽIGRAJSKI DVOR,Soba,"15 m2, soba, adaptirana l. 2020, visoko pritli...","15,00 m2","180,00 €/mesec"
5,"BEŽIGRAJSKI DVOR, LINHARTOVA CESTA 1",garsonjera,"30 m2, garsonjera, zgrajena l. 1970, adaptiran...","30,00 m2","500,00 €/mesec"
6,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA",garsonjera,"25 m2, garsonjera, zgrajena l. 1996, 2/4 nad.,...","25,00 m2","400,00 €/mesec"
7,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA",štirisobno,"133 m2, 4-sobno, adaptirano l. 2018, 4/4 nad.,...","133,00 m2","1.800,00 €/mesec"
8,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA 1",enosobno,"28 m2, 1-sobno, zgrajeno l. 1950, adaptirano l...","28,00 m2","400,00 €/mesec"

In [316]:
print(df.loc[4].at['title'])
df.count()

BEŽIGRAJSKI DVOR

title         1074
offer_type    1074
desc          1074
size          1074
price         1074
dtype: int64

In [317]:
df['offer_type'].describe()

count         1074
unique          13
top       trisobno
freq           237
Name: offer_type, dtype: object

In [318]:
df['offer_type'].unique()

array(['Soba', 'garsonjera', 'štirisobno', 'enosobno', 'dvoinpolsobno',
       'trisobno', 'petsobno', 'dvosobno', 'enoinpolsobno',
       'triinpolsobno', 'Apartma', 'Drugo', 'štiriinpolsobno'],
      dtype=object)

In [320]:
index_names = df[df['offer_type'] == 'Drugo' ].index 
df.drop(index_names, inplace = True) 
df.head()

,title,offer_type,desc,size,price
4,BEŽIGRAJSKI DVOR,Soba,"15 m2, soba, adaptirana l. 2020, visoko pritli...","15,00 m2","180,00 €/mesec"
5,"BEŽIGRAJSKI DVOR, LINHARTOVA CESTA 1",garsonjera,"30 m2, garsonjera, zgrajena l. 1970, adaptiran...","30,00 m2","500,00 €/mesec"
6,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA",garsonjera,"25 m2, garsonjera, zgrajena l. 1996, 2/4 nad.,...","25,00 m2","400,00 €/mesec"
7,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA",štirisobno,"133 m2, 4-sobno, adaptirano l. 2018, 4/4 nad.,...","133,00 m2","1.800,00 €/mesec"
8,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA 1",enosobno,"28 m2, 1-sobno, zgrajeno l. 1950, adaptirano l...","28,00 m2","400,00 €/mesec"

In [321]:
enosobno_count = df[df.offer_type=='enosobno'].count()
dvosobno_count = df[df.offer_type=='dvosobno'].count()
trisobno_count = df[df.offer_type=='trisobno'].count()
štirisobno_count = df[df.offer_type=='štirisobno'].count()
garsonjera = df[df.offer_type=='garsonjera'].count()


print("Enosobnih je tulk: ", enosobno_count[0])
print("Dvosobnih je tulk: ", dvosobno_count[0])
print("Trisobnih je tulk: ", trisobno_count[0])
print("Štirisobnih je tulk: ", štirisobno_count[0])
print("Garsonjera je tulk: ", garsonjera[0])

print("\n",enosobno_count[0]+dvosobno_count[0]+trisobno_count[0]+štirisobno_count[0]+garsonjera[0])

Enosobnih je tulk:  81
Dvosobnih je tulk:  209
Trisobnih je tulk:  237
Štirisobnih je tulk:  101
Garsonjera je tulk:  123

 751

In [322]:
add = 2 

df.loc[df['offer_type'] == 'enosobno', 'offer_type'] = 1 + add
df.loc[df['offer_type'] == 'dvosobno', 'offer_type'] = 2 + add
df.loc[df['offer_type'] == 'trisobno', 'offer_type'] = 3 + add
df.loc[df['offer_type'] == 'štirisobno', 'offer_type'] = 4 + add
df.loc[df['offer_type'] == 'Soba', 'offer_type'] = 0 + add
df.loc[df['offer_type'] == 'enoinpolsobno', 'offer_type'] = 1.5 + add
df.loc[df['offer_type'] == 'dvoinpolsobno', 'offer_type'] = 2.5 + add
df.loc[df['offer_type'] == 'štiriinpolsobno', 'offer_type'] = 4.5 + add
df.loc[df['offer_type'] == 'triinpolsobno', 'offer_type'] = 3.5 + add
df.loc[df['offer_type'] == 'garsonjera', 'offer_type'] = 3.5 + add
df.loc[df['offer_type'] == 'petsobno', 'offer_type'] = 5 + add
df.loc[df['offer_type'] == 'Apartma', 'offer_type'] = 0 + add



df.head()

,title,offer_type,desc,size,price
4,BEŽIGRAJSKI DVOR,2,"15 m2, soba, adaptirana l. 2020, visoko pritli...","15,00 m2","180,00 €/mesec"
5,"BEŽIGRAJSKI DVOR, LINHARTOVA CESTA 1",5.5,"30 m2, garsonjera, zgrajena l. 1970, adaptiran...","30,00 m2","500,00 €/mesec"
6,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA",5.5,"25 m2, garsonjera, zgrajena l. 1996, 2/4 nad.,...","25,00 m2","400,00 €/mesec"
7,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA",6,"133 m2, 4-sobno, adaptirano l. 2018, 4/4 nad.,...","133,00 m2","1.800,00 €/mesec"
8,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA 1",3,"28 m2, 1-sobno, zgrajeno l. 1950, adaptirano l...","28,00 m2","400,00 €/mesec"

In [323]:
df['offer_type'] = pd.to_numeric(df['offer_type'])
df.head()

,title,offer_type,desc,size,price
4,BEŽIGRAJSKI DVOR,2.0,"15 m2, soba, adaptirana l. 2020, visoko pritli...","15,00 m2","180,00 €/mesec"
5,"BEŽIGRAJSKI DVOR, LINHARTOVA CESTA 1",5.5,"30 m2, garsonjera, zgrajena l. 1970, adaptiran...","30,00 m2","500,00 €/mesec"
6,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA",5.5,"25 m2, garsonjera, zgrajena l. 1996, 2/4 nad.,...","25,00 m2","400,00 €/mesec"
7,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA",6.0,"133 m2, 4-sobno, adaptirano l. 2018, 4/4 nad.,...","133,00 m2","1.800,00 €/mesec"
8,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA 1",3.0,"28 m2, 1-sobno, zgrajeno l. 1950, adaptirano l...","28,00 m2","400,00 €/mesec"

In [324]:
len(df.title.unique())

414

Things to be done:
    - lokacija

In [325]:
df['size'] = df['size'].str.strip(' m2')
df['price'] =df['price'].str.strip(' €/mesec')

df['size'] = df['size'].str.replace(',','.')
df['price'] =df['price'].str.replace(',', '.')

df.head()

,title,offer_type,desc,size,price
4,BEŽIGRAJSKI DVOR,2.0,"15 m2, soba, adaptirana l. 2020, visoko pritli...",15.00,180.00
5,"BEŽIGRAJSKI DVOR, LINHARTOVA CESTA 1",5.5,"30 m2, garsonjera, zgrajena l. 1970, adaptiran...",30.00,500.00
6,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA",5.5,"25 m2, garsonjera, zgrajena l. 1996, 2/4 nad.,...",5.00,400.00
7,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA",6.0,"133 m2, 4-sobno, adaptirano l. 2018, 4/4 nad.,...",133.00,1.800.00
8,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA 1",3.0,"28 m2, 1-sobno, zgrajeno l. 1950, adaptirano l...",8.00,400.00

In [326]:
len(df['size'].unique())

366

In [283]:
df['size'] = pd.to_numeric(df['size'])
df.head()

,title,offer_type,desc,size,price
4,BEŽIGRAJSKI DVOR,Soba,"15 m2, soba, adaptirana l. 2020, visoko pritli...",15.0,180.00
5,"BEŽIGRAJSKI DVOR, LINHARTOVA CESTA 1",garsonjera,"30 m2, garsonjera, zgrajena l. 1970, adaptiran...",30.0,500.00
6,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA",garsonjera,"25 m2, garsonjera, zgrajena l. 1996, 2/4 nad.,...",5.0,400.00
7,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA",štirisobno,"133 m2, 4-sobno, adaptirano l. 2018, 4/4 nad.,...",133.0,1.800.00
8,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA 1",enosobno,"28 m2, 1-sobno, zgrajeno l. 1950, adaptirano l...",8.0,400.00

,title,offer_type,desc,size,price,enosobno
4,BEŽIGRAJSKI DVOR,Soba,"15 m2, soba, adaptirana l. 2020, visoko pritli...",15.0,180.00,NaN
5,"BEŽIGRAJSKI DVOR, LINHARTOVA CESTA 1",garsonjera,"30 m2, garsonjera, zgrajena l. 1970, adaptiran...",30.0,500.00,NaN
6,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA",garsonjera,"25 m2, garsonjera, zgrajena l. 1996, 2/4 nad.,...",5.0,400.00,NaN
7,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA",štirisobno,"133 m2, 4-sobno, adaptirano l. 2018, 4/4 nad.,...",133.0,1.800.00,NaN
8,"BEŽIGRAJSKI DVOR, PERIČEVA ULICA 1",1,"28 m2, 1-sobno, zgrajeno l. 1950, adaptirano l...",8.0,400.00,1.0

In [16]:
from tensorflow.keras.layers import Dense, Dropout
model = tf.keras.Sequential([
    Dense(128, input_shape=(5,5),activation='relu'),
    Dropout(0.2),
    Dense(64, activation='relu'),
    Dropout(0.2),
    Dense(16, activation='relu'),
    Dense(1,activation='sigmoid')
])

opt = tf.keras.optimizers.RMSprop(learning_rate=0.05)
model.compile(optimizer=opt, loss='mean_squared_error', metrics=['accuracy'])

model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 5, 128)            768
_________________________________________________________________
dropout_2 (Dropout)          (None, 5, 128)            0
_________________________________________________________________
dense_7 (Dense)              (None, 5, 64)             8256
_________________________________________________________________
dropout_3 (Dropout)          (None, 5, 64)             0
_________________________________________________________________
dense_8 (Dense)              (None, 5, 16)             1040
_________________________________________________________________
dense_9 (Dense)              (None, 5, 1)              17
=================================================================
Total params: 10,081
Trainable params: 10,081
Non-trainable params: 0
_________________________________________________________________

In [ ]:
X =df.drop(['prize'])
Y =df['prize']

early_stopper = tf.keras.callbacks.EarlyStopping(monitor='acc', patience=3, mode='min', min_delta=0.01)
# introduce the model checkpoint callback
history = model.fit(X, Y, validation_split=0.2,epochs=20, batch_size=32, callbacks=[early_stopper],verbose=2 )

In [ ]:
results = pd.DataFrame(history.history)
acc = results['accuracy']
loss = results['loss']
val_acc = results['val_accuracy']
val_loss = results['val_loss']

epochs=range(len(acc))

df.plot(x = epochs, y = [acc, val_acc])
plt.xlabel("Epochs")
plt.ylabel("Accuracy")
plt.title("Epoch vs Accuracy")
plt.legend()

df.plot(x = epochs, y = [loss, val_loss])
plt.xlabel("Epochs")
plt.ylabel("Loss")
plt.title("Epoch vs Loss")
plt.legend()
plt.show()